.house-title {
  font-size: 0.93rem;
  font-weight: 700;
}
.house-address {
  font-size: 0.81rem;
}
.house-image {
  width: 270px;
  height: 200px;
}
.house-image:first-of-type {
  width: 500px;
  height: 400px;
  grid-row: span 2;
}
.house-image > img {
  width: 100%;
  height: 100%;
  margin-bottom: 33px;
}
